.row
{
    max-width: 96vw; 
}
.titulo_calif
{
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
}

.img_user
{
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
.scroll_card
{
    height: 50vh;
    overflow-y: scroll;
}
.canvas_calificaciones
{
    max-height: 405px;
}

.comentario
{
    color: darkgrey;
}

.modal-footer
{
    justify-content: flex-start;
}

.descripcion
{
    height: 65px;
    max-height: 65px;
    overflow: hidden;
}

.diferencial
{
    width: 14rem;
    height: 38px;
    padding: 0.5rem;
    margin: 0;
}

.text-white
{
    display: inline-block;
}

textarea 
{
    resize: none;
}

#alerta_error
{
    /* margin-top: 92vh; */
    width: 50%;
}